/* Global Styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-image: url('./img/pc.png'); /* Imagem de fundo do pc */
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    color: #000;
    text-align: center;
    padding: 1rem 0;
}

main {
    flex: 1;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

section {
    background-color: #fff;
    padding: 1em;
    margin-bottom: 2em;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
    border-radius: 10px;
}
/* Ícones para as doenças */
li:before {
    display: inline-block;
    width: 20px; /* ajuste a largura da imagem */
    height: 20px; /* ajuste a altura da imagem */
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 10px; /* ajuste o espaçamento entre a imagem e o texto */
    content: ''; /* necessário para o pseudo-elemento :before */
}

li:nth-child(1):before {
    background-image: url('img/dengue.jpeg'); /* caminho para a imagem de dengue */
}

li:nth-child(2):before {
    background-image: url('img/lep.png'); /* caminho para a imagem de leptospirose */
}

li:nth-child(3):before {
    background-image: url('img/tet.jpeg'); /* caminho para a imagem de tétano */
}

li:nth-child(4):before {
    background-image: url('img/dia.jpeg'); /* caminho para a imagem de diarréia aguda */
}

li:nth-child(5):before {
    background-image: url('img/hep.jpeg'); /* caminho para a imagem de hepatite A */
}


li:nth-child(6):before {
    background-image: url('img/ani.png'); /* caminho para a imagem de animais peçonhentos */
}
.banner h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.banner ul {
    list-style-type: none;
    padding: 0;
}

.banner ul li {
    margin-bottom: 5px;
}

.banner ul li a {
    color: #333;
    text-decoration: none;
    font-weight: bold;
}

.banner ul li a:hover {
    text-decoration: underline;
}

.diagnosis h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

#btnRealizarTeste {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
}

#btnRealizarTeste:hover {
    background-color: #45a049;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    width: 100%;
}

footer p {
    margin: 0;
}

/* Mobile Styles */
@media (max-width: 600px) {
    main {
        padding: 15px;
    }

    section {
        padding: 1em;
    }

    #videoElement {
        width: 100%;
        height: auto;
    }
}

/* Desktop Styles */
@media (min-width: 601px) {
    body {
        background-image: url('./img/cel.png'); /* Background para celular */
    }

    main {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
    }

    section {
        width: 45%;
    }

    .banner {
        margin-right: 2em;
    }

    .diagnosis {
        margin-left: 2em;
        padding-bottom: 10px;
    }
}
